.card-img-top{
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body{
    padding: 0 20px;
    margin-left: 15px;
}

.card-footer .btn{
    margin:5px;
}

@keyframes fa-blink {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

.is-online {
    animation: fa-blink 1.5s linear infinite;
    color: rgb(11, 172, 5);
}